/* hero  */

.heroSection {
  margin: 1rem 7rem;
  padding: 1rem 0rem;
  display: flex;
}

.heroMain{
  font-size: 2.25rem;
  color: black;
  font-weight: 600;
}

.heroSectionRight {
  width: 30%;
}

.heroSectionLeft {
  width: 70%;
}
/* vision section  */

.headText {
  color: black;
  font-weight: 600;
  font-size: 2.25rem;
}

.despText {
  color: gray;
  font-weight: 400;
  font-size: 1.25rem;
}

.headMain {
  color: black;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 700;
}

.valueSection {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5rem;
  text-align: center;
}
@media (max-width: 768px) {
  .valueSection {
    display: flex;
    height: 25rem;
        overflow-x: auto;
        padding: 10px 0;
        scroll-behavior: smooth;
  }
  .eachBlock {
    display: inline-block;
        margin-right: 10px;
        flex-shrink: 0;
        width: 400px;
        height: auto;
        margin-bottom: 1rem;
  }
}

.valueSectionOutline {
  margin: 1rem 7rem;
}

.eachBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5rem;
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.eachBlock:hover {
  background-color: #3F51B5;
}
.eachBlock:hover .headText{
  color: white;
}
.eachBlock:hover .despText{
  color: white;
}

.imageAfter{
  display: none;
}

.eachBlock:hover .imageAfter{
  display: block;
}

.eachBlock:hover .imageBefore{
  display: none;
}



/* mission and vision  */

.missionSectionOutline {
  display: grid;
  grid-template-columns: auto;
  margin: 1rem 7rem;
  column-gap: 2rem;
}

.missionHead {
  color: black;
  font-size: 2.25rem;
  font-weight: 700;
}

.missiondesp {
  color: gray;
  font-size: 1.25rem;
}

.missionHeadTop {
  background-color: #3F51B5;
  margin-top: 1rem;
  padding: 0.2rem;
  font-size: 0.7rem;
}

/* team */

.teamSection {
  margin: 1rem 7rem;
  padding-top: 0rem;
}

.teamInnerSection {
  display: flex;
}

.teamInnerImage {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
}

.teamInnerleft {
  width: 40%;
}

.teamInnerright {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .valueSection {
    grid-template-columns: auto auto;
    gap: 1rem;
  }
  .valueSectionOutline {
    margin: 1rem 2rem;
    padding: 2rem 0rem;
  }
  .missionSectionOutline {
    display: grid;
    grid-template-columns: auto;
    margin: 1rem 2rem;
    column-gap: 0.5rem;
    padding: 2rem 0rem;
  }
  .teamSection {
    margin: 1rem 2rem;
    padding-top: 2rem;
  }
  .heroSection {
    margin: 1rem 2rem;
    padding: 2rem 0rem;
  }
}

@media screen and (max-width: 767px) {
  .valueSection {
    grid-template-columns: auto;
    gap: 1rem;
  }
  .valueSectionOutline {
    margin: 1rem 1rem;
    padding: 1rem 0rem;
  }
  .missionSectionOutline {
    grid-template-columns: auto;
    padding: 1rem 0rem;
  }
  .teamSection {
    margin: 1rem 1rem;
    padding-top: 1rem;
  }
  .teamInnerSection {
    display: block;
  }
  .teamInnerleft {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .teamInnerright {
    display: block;
    margin-top: 2rem;
    width: 100%;
  }
  .teamInnerImage {
    align-items: center;
    width: 100%;
    height: auto;
  }
  .heroSection {
    margin: 1rem 1rem;
    padding: 1rem 0rem;
    display: block;
  }
  .heroSectionRight {
    width: 100%;
  }

  .heroSectionLeft {
    width: 100%;
  }
  .heroMain{
    font-size:  1.875rem;
  }
  .despText{
    font-size: 1rem;
  }
  .headMain{
    font-size:  1.875rem;
  }
  .headText{
    font-size:  1.875rem;
  }
}
